# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
BusinessObject3/TEMP/
*.ipch
*.filters
*.vcxproj
*.pdb
*.ilk
*.sln
*.sdf
*.tlog
*.idb
*.suo
BusinessObject3/BusinessObject3/testing.h
BusinessObject3/BusinessObject3/testing.cpp
BusinessObject3/BusinessObject3/ReadMe.txt
BusinessObject3/BusinessObject3/AbstractCommonDates.h
